    <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" [src]="product.URLImage" alt="">
        </div>
      <div class="card-body p-1">
          <h2>{{product.Type}}</h2>
          <h3>{{product.Name}}</h3>
          <h4>{{product.Price}}</h4>
      </div>
    <ul class="list-inline p-2">
        <li class="list-inline-item">
            <button class="btn btn-info  btn-sm" routerLink="/product-detail/{{product.id}}">Детали</button>
         </li>
         <li class="list-inline-item">
             <button class="btn btn-info  btn-sm">Добавить в корзину</button>
          </li>
     </ul>
   </div>
